*{
color: white;
background-color: gray;

}

.font1{ 
    background-color: blue;

}
.font2{ 
    background-color: green;

}
.font3{ 
   

}
.font4{ 
  

}
.font5{ 
   
}
.font6{
    color: red; 
   
}

.font7{
    color: yellow; 
   
}

.font8{
    color: green; 
   
}

.font9{
    color: blue; 
   
}

.font10{ color: purple; 
   
}
