.text{
    background-color: red;
    font-size: 30px;
}
.ham{
    display: none;
}
.menu{
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0px auto;
    div{
        height: 400px;
    }
}
.left{
    width: 50%;
    background-color: red;
}
.right{
    width: 50%;
    background-color: blue;
}
/* 모바일시에 */
@media screen and (max-width: 768px) {
    .text{
        background-color: blue;
        font-size: 20px;
    
    }
    .ham{
        display: block;
    }
}
@media screen and (max-width: 480px) {
    .text{
        background-color: green;
    }
}

@media screen and (max-width:768px){
    .menu{
        display: block; 
        div{
            width: 100%;
        }
    }
}