.container{
    height: 20px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.container2{
    background-color: lightgray;
    display: none;
}
.menu{
    display: none;
}
@media screen and (max-width:768px) {
    .container2{
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu1{
        display: none;
    }
    .menu{
        display: block;
    }
}